<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>@ViewData["Title"] - DespesaVirtual</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script src="~/js/juego.js"></script>
    <!--//tags -->
</head>

<body onload="inicializa();">
    <div>
        @RenderBody()
    </div>
</body>
</html>