@model despensa.Models.PredidoFactura

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PredidoFactura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodFactura" />
            <div class="form-group">
                <label asp-for="FecEmision" class="control-label"></label>
                <input asp-for="FecEmision" class="form-control" />
                <span asp-validation-for="FecEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalVendido" class="control-label"></label>
                <input asp-for="TotalVendido" class="form-control" />
                <span asp-validation-for="TotalVendido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCosto" class="control-label"></label>
                <input asp-for="TotalCosto" class="form-control" />
                <span asp-validation-for="TotalCosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEmpleado" class="control-label"></label>
                <select asp-for="CodEmpleado" class="form-control" asp-items="ViewBag.CodEmpleado"></select>
                <span asp-validation-for="CodEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodCliente" class="control-label"></label>
                <select asp-for="CodCliente" class="form-control" asp-items="ViewBag.CodCliente"></select>
                <span asp-validation-for="CodCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEstado" class="control-label"></label>
                <select asp-for="CodEstado" class="form-control" asp-items="ViewBag.CodEstado"></select>
                <span asp-validation-for="CodEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

