@model despensa.Models.Marca

@{
    ViewData["Title"] = "Marca";
}

<link rel="stylesheet" href="~/css/login.css">
<div class="container">
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Marca
        </dt>
        <dd>
            <div class="divinput">  @Html.DisplayFor(model => model.Marca1)</div>
           
        </dd>
    </dl>
</div>
<div>
    <a class="botones success redondear"  asp-action="Edit" asp-route-id="@Model.CodMarca">Editar</a>
    <a class="botones danger redondear" asp-action="Index">Regresar</a>
</div>
