@model IEnumerable<despensa.Models.Marca>

@{
    ViewData["Title"] = "Marca";
}
<link rel="stylesheet" href="~/css/login.css">

<div class="form-sh" style="margin-left:50px;"> <a class="botones info cursivo2" asp-action="Create">Crear Marca</a> </div>
<div class="contenedor-formularios">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca1)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                         <div class="divinput">   @Html.DisplayFor(modelItem => item.Marca1)</div>
                    </td>
                    <td>
                        <a class="botones success circle" asp-action="Edit" asp-route-id="@item.CodMarca" style="margin-top:15px">Editar</a>
                        <a class="botones warning circle" asp-action="Details" asp-route-id="@item.CodMarca">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    @section Scripts {

        <script>
            $(document).ready(function () {
                $("form").each(function () { this.reset() });
            });
        </script>
        <script src="~/js/login.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
