@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link href="~/css/inicio.css" rel="stylesheet" type="text/css">
<link href="~/css/letras.css" rel="stylesheet" type="text/css">
<link href="~/css/notas.css" rel="stylesheet" type="text/css">
<link href="~/css/iniciotext.css" rel="stylesheet">


<!-- second section (nuts special) -->
<div class="product-sec1 product-sec2" style="height: 500px;" id="esconder">
    <div class="col-xs-7 effect-bg">
        <h3 class="tittle-w3l" style="margin-top: 20px">
            Bienvenidos a Despensa Virtual
            <span class="heading-style">
                <i></i>
                <i style="background-color:#FF5722"></i>
                <i></i>
            </span>
        </h3>
        <h6>Hoy más que nunca estamos comprometidos con las familias san cristobalenses</h6>
        <p style="text-align:justify;margin: 0 40px 0 0;">Somos una empresa que busca prestarle un servicio a la población cristobalense, nuestra metodología se basa en facilitarle al usuario la adquisición de productos no perecederos que conforman la canasta básica, permitiendo que el cliente genere por medio de nuestra página una orden con todos los productos que necesita, esta orden es atendida por nuestro personal, ellos se encargan de estructurar el pedido y entregarlo a la dirección que el cliente indique, el cobro de la despensa se realiza contra entrega.</p>
    </div>
    <h3 class="w3l-nut-middle">Fácil & Sencillo 💯</h3>
    <div class="col-xs-5 bg-right-nut" style="margin-top: 200px">
        <div class="wrapperletras" id="mostrarletras">
            <div class="containerletras">
                <a href="https://github.com/daybrush" target="_blank" data-typing="d">D</a>
                <a href="https://github.com/daybrush" target="_blank" data-typing="espensa">espensa</a>
                <a href="https://github.com/daybrush" target="_blank" data-typing="virtual">Virtual</a>
                <p data-typing="sancristobal">SanCristóbal</p>
                <p data-typing="altaverapaz">AltaVerapaz</p>
                <p data-typing="donde">Donde</p>
                <p data-typing="encuentras">encuentras</p>
                <p data-typing="todo">todo</p>
                <p data-typing="loque">lo que</p>
                <p data-typing="necesitas">necesitas</p>
                <a href="https://github.com/daybrush/scenejs" target="_blank" data-typing="compraya">Compra YA!</a>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>
<!-- //second section (nuts special) -->
<!-- Letras  <div class="menu-fixedletras"> -->
<script src="https://daybrush.com/scenejs/release/latest/dist/scene.js"></script>
<script src="https://daybrush.com/scenejs-effects/release/latest/dist/effects.js"></script>

<!-- Notas -->
<div class="containernotas" style="cursor: auto;">
    <details id="desc" style="        transform: rotate(4.74307deg);
        top: 33.8826px;
        left: -23.5236px;
        z-index: 98;"
             class="ui-draggable ui-draggable-handle active">
        <summary>
            <ul>
                <li>Categorías:</li>
                <li>#Alacena</li>
                <li>#Bebés</li>
                <li>#Lácteos y Huevos</li>
                <li>#Embutidos y Queso</li>
                <li>#Jugos y Bebidas</li>
                <li>#etc...</li>
            </ul>
        </summary>
    </details>
    @foreach (var item in ViewBag.productoshome)
    {
        <details style="transform: rotate(37.2709deg); top: -31px; left: 33px; z-index: 103;"
                 class="ui-draggable ui-draggable-handle active">
            <summary style="background-image: url('@Url.Content("~/image/" + item.Imagen)'); background-size: cover;" class="color">
                <div class="color-title">
                    <h2> @item.Nombre</h2>
                </div>
            </summary>
            <div class="color-codes">
                <h2>Q.@item.PrecioVenta</h2>
            </div>
        </details>
    }
</div>

<!--/Notas-->
<br>
<br>
<br>
<!--Inicio texto-->
<section class="our_industries">
    <div class="container">
        <div class="text-center">
            <h1 class="encabezadopro">¿Quiénes somos?</h1>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single_industries">
                    <img src="~/images/vision.png" alt="" style="height:360px">
                    <h3 style="text-align:center;"><br> <a style="color:#337ab7;" href="#"> Visión</a></h3>
                    <p style="text-align:justify;">Estructurar las bases de una empresa que pueda competir a nivel nacional, prestando servicios a domicilio que faciliten a la población la adquisición de los productos que conforman la canasta básica de Guatemala. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_industries">
                    <img src="~/images/mision.png" alt="" style="height:360px">
                    <h3 style="text-align:center;"><br> <a style="color:#337ab7;" href="#"> Misión</a></h3>
                    <p style="text-align:justify;">Prestar el mejor servicio de pedido de abarrotes y despensa a domicilio, evitando así que el cliente tenga que presentarse físicamente a diferentes instalaciones para realizar sus compras, promoviendo estas nuevas metodologías que en la actualidad darán inicio a la era de la nueva normalidad guatemalteca. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_industries">
                    <img src="~/images/valores.png" alt="" style="height:360px">
                    <h3 style="text-align:center;"><br> <a style="color:#337ab7;" href="#"> Valores</a></h3>
                    <p style="text-align:justify;">Actualmente este proyecto tendrá un alcance a nivel municipal, abarcando únicamente el territorio san cristobalense, de esta manera se hará un estudio de la viabilidad del proyecto descubriendo si es o no factible ampliar los alcances de “Despensa Virtual”. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<!-- Covid-19-->
<style>
    .sombrapro {
        -webkit-box-shadow: -5px -5px 0px 0px #289FED, -10px -10px 0px 0px #5FB8FF, -15px -15px 0px 0px #A1D8FF, -20px -20px 0px 0px #CAE6FF, -25px -25px 0px 0px #E1EEFF, 20px 28px 16px 5px rgba(0,0,0,0.37);
        box-shadow: -5px -5px 0px 0px #289FED, -10px -10px 0px 0px #5FB8FF, -15px -15px 0px 0px #A1D8FF, -20px -20px 0px 0px #CAE6FF, -25px -25px 0px 0px #E1EEFF, 20px 28px 16px 5px rgba(0,0,0,0.37);
    }

</style>
<section class="about_part section_bg section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6" style="margin-right:25px">
                <div class="about_img sombrapro">
                    <img src="~/images/coronavirus.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5" style="margin-left:25px">
                <div class="about_text">
                    <h1 class="encabezadopro1" style="font-size:80px">
                        COVID-19
                    </h1>
                    <h4 style="text-align:justify;">
                        Conociendo la situación que acontece en Guatemala respecto al covid-19, siendo una empresa emprendedora, planteamos la idea de una “Despensa Virtual” como un método que permita a todos los cobaneros poder realizar sus compras de manera virtual evitando así que los ciudadanos tengan que salir de sus hogares expandiéndose y exponiendo a familiares y amigos.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Covid-19-->
<br>
<br>
<br>
<!-- Servicio a Domicilio -->

<section class="portfolio_part">
    <div class="container">
        <div class="text-center">
            <h1 class="encabezadopro">Servicio a Domicilio</h1>
        </div>
        <div class="row">
            <div class="col-md-16">
                <div class="card-columns">

                    <div class="card ">
                        <div class="card_iner overlay">
                            <div class="card-body" style="max-width:400px">
                                <h5 class="card-title">Tiempo de Entrega</h5>
                                <p class="card-text">
                                    Se realizará la entrega lo antes posible, con un plazo de 30 minutos como máximo

                                </p>
                            </div>
                            <img src="~/images/tiempoentrega.png" class="card-img-top" alt="...">

                        </div>

                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <div class="card-body" style="max-width:400px">
                                <h5 class="card-title">Minimo de Compra</h5>
                                <p class="card-text">
                                    Para realizar una compra en la despensa virtual es necesario que el costo total del pedido supere o sea igual a Q50
                                </p>
                            </div>
                            <img src="~/images/minimocompra.png" class="card-img-top" alt="...">

                        </div>
                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <div class="card-body" style="max-width: 400px;">
                                <h5 class="card-title">Forma de pago</h5>
                                <p class="card-text">
                                    Pago contra entrega, se trata de un sistema fácil y seguro para cerrar una transacción en efectivo al momento de recibir el pedido

                                </p>

                            </div>
                            <img src="~/images/formapago.png" class="card-img-top" alt="...">

                        </div>
                    </div>
                    <div class="card">
                        <div class="card_iner overlay">
                            <div class="card-body " style="max-width:400px">
                                <h5 class="card-title">Horarios de Cobertura</h5>
                                <p class="card-text">
                                    Lunes a domingo: 7:00 a.m a 5:00 p.m.

                                    *Nota: Los horarios de atención y tiempo de entrega pueden variar según las restricciones gubernamentales.
                                </p>
                            </div>
                            <img src="~/images/horarioscobertura.png" class="card-img-top" alt="...">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Servicio a Domicilio -->
<!--Fin Inicio Texto-->
<br>
<br>
<br>

<!-- Contenido -->

<div class="container">
    <div class="agileinfo-ads-display col-md-16">
        <div class="wrapper">


            <!-- ¿Como hacer tu pedido? -->
            <div class="product-sec1">
                <div class="text-center">
                    <h1 class="encabezadopro1">¿Quiénes somos?</h1>
                </div>
                 <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/login.png" alt="Avatar" style="width:300px;height:350px;">
                                <h1 style=" background-color: #bbb;">Inicio de Sesión</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Inicio de Sesión</h1>
                                <p style=" color: #ffffff;text-align: justify;margin: 8px 5px 8px 5px">Es necesario iniciar sesión para realizar pedidos. Si todavía no tienes cuenta te recomendamos registrarte</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/hazpedido.png" alt="Avatar" style="width:300px;height:350px;">
                                <h1 style=" background-color: #bbb;">Haz tu pedido</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Haz tu pedido</h1>
                                <p style="        color: #ffffff;
        text-align: justify;
        margin: 8px 5px 8px 5px">Escoge una categoría y elige un producto en base a lo que necesites</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/visualizarcarrito.png" alt="Avatar" style="width:300px;height:300px;">
                                <h1 style=" background-color: #bbb;">Visualizar Carrito de Compra</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Visualizar Carrito de Compra</h1>
                                <p style=" color: #ffffff;text-align: justify;margin: 8px 5px 8px 5px">Puedes ver o eliminar los productos que seleccionaste ingresando al carrito de compras</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/datosenvio.png" alt="Avatar" style="width:300px;height:350px;">
                                <h1 style=" background-color: #bbb;">Datos de Envío</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Datos de Envío</h1>
                                <p style=" color: #ffffff;text-align: justify;margin: 8px 5px 8px 5px">Llena los campos con la informacion solicitada para que tu pedido pueda ser enviado con éxito a su destino</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/confirmardatos.png" alt="Avatar" style="width:300px;height:300px;">
                                <h1 style=" background-color: #bbb;">Confirmación de datos</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Confirmación de datos</h1>
                                <p style=" color: #ffffff;text-align: justify;margin: 8px 5px 8px 5px">Te llamaremos para confirmar tu pedido</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men" style="min-width:300px">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="~/images/enviopedido.jpg" alt="Avatar" style="width:300px;height:350px;">
                                <h1 style=" background-color: #bbb;">Envío del Pedido</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1 style=" background-color: #000000 ">Envío del Pedido</h1>
                                <p style=" color: #ffffff;text-align: justify;margin: 8px 5px 8px 5px">Nuestro personal se pondrá en contacto contigo al llegar a tu dirección para hacer efectivo el cobro y entregar el pedido.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>



<!-- Script Contenido -->

<script>
    const scene = new Scene(
        {
            ".containerletras": {}
        },
        {
            selector: true
        }
    );

    const item = scene.getItem(".containerletras");

    function move(startTime, endTime, left, top, rotate, scale) {
        item.set({
            [`${startTime}, ${endTime}`]: Scene.kineticFrame({
                left: `${left}px`,
                top: `${top}px`
            }).set({
                transform: {
                    rotate: `${rotate}deg`,
                    scale
                }
            })
        });
    }

    /*
    1-D
    2-espensa
    3-Virtual
    4-SanCristobal
    5-AltaVerapaz
    6-Donde
    7-Encuentras
    8-Todo
    9-Lo que
    10-Necesitas
    11-Compra Ya!
    */
    move(0, 0, 90, 115, 0, 5);
    move(1, 1, 90, 115, 0, 2);
    move(2, 3, 0, 115, 0, 1);
    move(4, 4.5, -100, -10, -90, 1.8);
    move(5.5, 6, -52, -18, -90, 1.6);
    move(7, 7.5, 30, 45, 0, 2);
    move(8.5, 9, 50, 30, 0, 1.5);
    move(10, 10.5, 10, 0, 0, 3);
    move(11.5, 12, 50, -35, 0, 1.65);
    move(13, 13.5, 48, -70, 0, 1.6);
    move(15.8, 15, 43, -70, 0, 1.8);
    move(22.5, 18, 0, 0, 0, 1);

    scene.set({
        "[data-typing='d']": Scene.typing({ text: "D ", duration: 1 }),
        "[data-typing='espensa']": {
            1: Scene.typing({ text: "espensa", duration: 1 })
        },
        "[data-typing='virtual']": {
            1.5: Scene.typing({ text: "Virtual", duration: 1 })
        },
        "[data-typing='sancristobal']": {
            3.3: Scene.typing({ text: "SanCristóbal", duration: 0.5 })
        },
        "[data-typing='altaverapaz']": {
            4.5: Scene.typing({ text: "AltaVerapaz", duration: 1 })
        },
        "[data-typing='donde']": {
            6: Scene.typing({ text: "Donde", duration: 1 })
        },
        "[data-typing='encuentras']": {
            7.5: Scene.typing({ text: "encuentras", duration: 1.7 })
        },
        "[data-typing='todo']": {
            9.3: Scene.typing({ text: "todo", duration: 1 })
        },
        "[data-typing='loque']": {
            10.9: Scene.typing({ text: "lo que", duration: 1 })
        },
        "[data-typing='necesitas']": {
            12.5: Scene.typing({ text: "necesitas", duration: 1 })
        },
        "[data-typing='compraya']": {
            14.0: Scene.typing({ text: "Compra YA!", duration: 2 })
        }
    });

    scene.setPlaySpeed(1);
    scene.setEasing("ease-in-out");
    scene.setIterationCount("infinite");
    scene.play();

</script>

<!-- Script Notas -->

<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script id="INLINE_PEN_JS_ID">
    // credit to https://codepen.io/jackcranston/pen/GdvYwd for random pantone color generator snippet

    const target = document.querySelector(".containernotas");
    var colorCount = 1; // change this to choose number of colors
    $(document).ready(function () {
        $(".containernotas").hide(0).delay(100).fadeIn(100);
    });
    fetch(
        "https://raw.githubusercontent.com/Margaret2/pantone-colors/master/pantone-colors.json").

        then(res => {
            return res.json();
        }).
        then(data => {
            for (i = 0; i < colorCount; i++) {
                if (window.CP.shouldStopExecution(0)) break;
                var randNum = Math.ceil(Math.random() * data.names.length);
                createColor(data, randNum);
                scatterCards();
            } window.CP.exitedLoop(0);
            show(0);
        }).
        catch(err => {
            console.log(err);
        });
    // <h1>${colors.names[randNum]}</h1>
    // <div class="color-codes"><h1>${colors.values[randNum]}</h1>
    function createColor(colors, randNum) {
        target.innerHTML += `<details>
          <summary style="background-image: url('/images/logo2.png'); background-repeat: no-repeat; background-size:100%;background-color: white" class="color">
          <div class="color-despensa">
</div>
</summary>
<div class="color-codes1">
</div>
</details>`;
    }

    function show(i) {
        var boxes = document.querySelectorAll("details");
        if (i < colorCount) {
            setTimeout(function () {
                boxes[i].classList.add("active");
                i++;
                show(i);
            }, 100);
        }
    }

    function scatterCards() {
        $("details").
            each(function () {
                var rNum = Math.random() * 50 - 2;
                rNum *= Math.floor(Math.random() * 2) == 1 ? 1 : -1;
                var x = Math.random() * 50 - 5;
                var y = Math.random() * 50 - 5;
                x *= Math.floor(Math.random() * 2) == 1 ? 1 : -1;
                y *= Math.floor(Math.random() * 2) == 1 ? 1 : -1;

                $(this).css({
                    "-webkit-transform": "rotate(" + rNum + "2deg)",
                    "-moz-transform": "rotate(" + rNum + "2deg)",
                    top: x,
                    left: y
                });

            }).
            draggable({ stack: "details" });
    }
            //# sourceURL=pen.js
</script>
