@model despensa.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="contenedor-formularios" style="max-width: 50%;">
    <!-- Links de los formularios -->
    <!-- Contenido de los Formularios -->
    <div class="contenido-tab">
        <!-- Iniciar Sesion -->
        <div id="iniciar-sesion">
            <form id="my-form21" asp-action="Edit" enctype="multipart/form-data">
                <input type="hidden" asp-for="CodCategoria" />
                <input type="hidden" asp-for="Imagen" />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Primer Categoria <span class="req">*</span>
                    </label>
                    <input asp-for="Nombre" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                </div>
                <br />

                <div class="contenedor-input">

                    <input asp-for="ImageFie" accept="image/*" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                </div>
                <br />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Estado <span class="req">*</span>
                    </label>
                    <select asp-for="Estado" class="select-css" style="width:100%;" asp-items="ViewBag.Estado"></select>
                </div>
                <br />
                <div class="text-center">
                    <input value="Guardar" type="submit" style="width:15%" class="botones validar redondear">
                    <a asp-action="Index" style="width:15%" class="botones danger redondear">Regresar</a>
                </div>
            </form>
        </div>

        <!-- Registrarse -->
        <div id="registrarse">

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/login.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
