@model IEnumerable<despensa.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h3 class="tittle-w3l">
        Categorias de productos
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
</div>
<div class="page-content-product">
    <div class="main-product">
        <div class="container">
            <div class="row clearfix">
                <div class="find-box">
                    <div class="col-sm-3">
                        @if (User.IsInRole("3")) {<div class="form-sh"> <a class="button2" asp-action="Create">Crear</a> </div>}
                        </div>
                </div>
            </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 col-md-3">
                        <a asp-controller="Productoes" asp-route-idcat="@item.CodCategoria">
                            <div class="box-img">
                                <div class="text-center">
                                    <h2> @Html.DisplayFor(modelItem => item.Nombre) </h2>
                                </div>
                                <img src=@Url.Content("~/image/" + item.Imagen) alt="" class="img-responsive zoom-img" style="width: 100%;" />
                            </div>
                        </a>
                        @if (User.IsInRole("3"))
                        {
                            <a class="button2"  asp-action="Edit" asp-route-id="@item.CodCategoria">Edit</a>
                            <a class="button2"  asp-action="Details" asp-route-id="@item.CodCategoria">Details</a>
                        }
                        <br />
                        <br />
                    </div>  
                }
                
            </div>
        </div>
    </div>
</div>