@model despensa.Models.Producto

@{
    ViewData["Title"] = "Create";
}


<link rel="stylesheet" href="~/css/login.css">
<div class="contenedor-formularios" style="max-width: 75%;">
    <!-- Links de los formularios -->
    <!-- Contenido de los Formularios -->
    <div class="contenido-tab">
        <h3 class="tittle-w3l">
            Crear Producto
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- Iniciar Sesion -->
        <div id="iniciar-sesion">
            <form id="my-form21" asp-action="Create" enctype="multipart/form-data">
                <input type="number" asp-for="CodCategoria" value="@ViewBag.codig_cat" hidden/>
                <div class="contenedor-input">
                    <label class="active highlight">
                        Primer Categoria <span class="req">*</span>
                    </label>
                    <input asp-for="Nombre" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                </div>
                <br />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Fecha Caducidad <span class="req">*</span>
                    </label>
                    <input asp-for="FecCaducidad" type="date" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                </div>
                <br />
                <div id="iniciar-sesion">
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Precio Costo <span class="req">*</span>
                        </label>
                        <input asp-for="PrecioCosto" type="number" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                    </div>
                    <br />
                    <div class="contenedor-input">
                        <label class="active highlight">
                            Precio Venta<span class="req">*</span>
                        </label>
                        <input asp-for="PrecioVenta" type="number" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                    </div>
                    <br />
                </div>
                <div class="contenedor-input">
                    <label class="active highlight">
                        Cantidad <span class="req">*</span>
                    </label>
                    <input asp-for="Cantidad" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                </div>
                <br />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Peso <span class="req">*</span>
                    </label>
                    <input asp-for="Peso" type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                </div>
                <br />


                <div class="contenedor-input">

                    <input asp-for="ImageFie" accept="image/*" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                </div>
                <br />




                <div class="contenedor-input">
                    <label class="active highlight">
                        Proveedor <span class="req">*</span>
                    </label>
                    <select asp-for="CodProveedor" class="select-css" style="width:100%;" asp-items="ViewBag.CodProveedor"></select>
                </div>
                <br />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Marca <span class="req">*</span>
                    </label>
                    <select asp-for="CodMarca" class="select-css" style="width:100%;" asp-items="ViewBag.CodMarca"></select>
                </div>
                <br />
                <div class="contenedor-input">
                    <label class="active highlight">
                        Estado <span class="req">*</span>
                    </label>
                    <select asp-for="CodEstado" class="select-css" style="width:100%;" asp-items="ViewBag.CodEstado"></select>
                </div>
                <br />

                <br />
                <input type="submit" class="button button-block" value="Guardar">
            </form>
        </div>

        <!-- Registrarse -->
        <div id="registrarse">

        </div>
    </div>
</div>

    <div>
        <a class="button2" style="background-color: darkslateblue" asp-controller="Categorias" asp-action="Index">regresar</a>
    </div>



    @section Scripts {
        <script src="~/js/login.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
