@model despensa.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodProducto" />
            <div class="form-group">
                <input asp-for="CodCategoria" class="form-control" type="hidden" value="@ViewData["codig_cat"]" />
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecCaducidad" class="control-label"></label>
                <input asp-for="FecCaducidad" class="form-control" />
                <span asp-validation-for="FecCaducidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCosto" class="control-label"></label>
                <input asp-for="PrecioCosto" class="form-control" />
                <span asp-validation-for="PrecioCosto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEstado" class="control-label"></label>
                <select asp-for="CodEstado" class="form-control" asp-items="ViewBag.CodEstado"></select>
                <span asp-validation-for="CodEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodProveedor" class="control-label"></label>
                <select asp-for="CodProveedor" class="form-control" asp-items="ViewBag.CodProveedor"></select>
                <span asp-validation-for="CodProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodMarca" class="control-label"></label>
                <select asp-for="CodMarca" class="form-control" asp-items="ViewBag.CodMarca"></select>
                <span asp-validation-for="CodMarca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Productoes" asp-action="Index" asp-route-idcat="@ViewData["codigo_cat"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
