@model despensa.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="container">
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Proveedor
        </dt>
        <dd>
            <div class="divinput"> @Html.DisplayNameFor(model => model.CodEstadoNavigation)</div>

        </dd>
    </dl>
</div>
<div>
    <a class="botones success redondear" style="margin-bottom:10px;" asp-action="Edit" asp-route-id="@Model.CodProveedor">Editar</a>
    <a class="botones danger redondear" asp-action="Index">Regresar</a>
</div>

