@model despensa.Models.Proveedor

@{
    ViewData["Title"] = "Proveedores";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="contenedor-formularios">
    <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CodProveedor" />
                <div class="contenedor-input">
                    <label>
                        Proveedor <span class="req">*</span>
                    </label>
                    <input asp-for="Proveedor1" type="text" value="" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" required>
                </div>
                <div class="contenedor-input">
                    <label class="active highlight">
                        Estado <span class="req">*</span>
                    </label>
                    <select asp-for="CodEstado" class="select-css" style="width:100%;" asp-items="ViewBag.CodEstado"></select>
                </div>
                <div class="text-center">
                    <input value="Guardar" type="submit" style="width:15%" class="botones validar redondear">
                    <a asp-action="Index" style="width:15%" class="botones danger redondear">Regresar</a>
                </div>
            </form>
        </div>
    </div>
    @section Scripts {

        <script>
            $(document).ready(function () {
                $("form").each(function () { this.reset() });
            });
        </script>
        <script src="~/js/login.js"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


